body {
  width: 55%;
  height: 100%;
  border: solid 2px #24527a;
  border-radius: 3, 5%;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(248, 243, 243) 0%,
    rgb(150, 194, 212) 90%
  );
}
html {
  height: 85%;
  font-family: "Poppins", sans-serif;
}
header {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: left;
  font-size: 30px;
  line-height: 48px;
  margin: 0;
  font-weight: 900;
  color: #24527a;
}

h2 {
  text-align: left;
  font-weight: 900;
  font-size: 30px;
  line-height: 48px;
  padding: 0 0 13px;
  color: #24527a;
}

.day {
  color: #24527a;
  position: relative;
  margin-left: 20px;
  margin-top: 0;
  font-size: 18px;
}

.button-container {
  margin: 60px 0;
}
table {
  border-style: solid;
  border-top: solid 2px #24527a;
  border-right: solid 2px #24527a;
  border-bottom: solid 2px #24527a;
  border-left: solid 2px #24527a;
  width: 40%;
  margin-left: 320px;
  margin-top: -150px;
}
.wind,
.kmH,
.humidity,
.procentage {
  color: #24527a;
  border-right: solid 2px#24527a;
  border-left: solid 2px #24527a;
  border-style: solid;
  text-align: center;
  width: 50%;
}
.wind,
.humidity {
  border-bottom: solid 2px #24527a;
}

.col-3 {
  text-align: center;
  color: #59748c;
}

.input-group {
  padding: 20px;
}
.weekdays {
  position: relative;
  top: 150px;
}
button {
  border-radius: 25px;
  border: 1px solid #8064e9;
  background: #8064e9;
  color: #fff;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  line-height: 22px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

button:hover {
  cursor: pointer;
  background: #5e41a7;
}

.temperature {
  position: relative;
  top: 120px;
}

#fahrenheit,
#celsius {
  color: #24527a;
}
.source-link {
  color: #24527a;
  text-align: center;
  position: relative;
  top: 190px;
}
.active {
  cursor: default;
  color: #24527a;
  text-decoration: none;
}
#celsius.active:hover {
  text-decoration: none;
}
#description {
  display: block;
}
#description:first-letter {
  text-transform: uppercase;
}
.weather-forecast {
  text-align: center;
  font-size: 17px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
#forecast {
  margin-top: 120px;
  color: #24527a;
}
img {
  filter: brightness(40%);
}
